body {
    background-image: url("markus-spiske-FXFz-sW0uwo-unsplash.jpg");
    background-size: stretch;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
    top: 2rem;
    left: 50%;
    background-color: rgb(133,149,147,0.6);
    border-radius: 5px;
    max-width: 40%;
    height: 80vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#botaoEnviar {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #26343c;
    color: white;
    border: 2px solid #1A2326;
}

#botaoEnviar:hover {
    background-color: transparent;
    color: #1A2326;
    border: 2px solid #1A2326;
}

textarea {
    width: 200px;
    background-color: #1A2326;
    color: #859593;
}

h1 {
    color: #1A2326;
}

#incremento {
    display: none;
}

#increment {
    background-color: #1A2326;
    color: #859593;
    line-height: 30px;
    height: 30px;
    width: 200px;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }
    .container {
        position: relative;
        top: 0px;
        left: 0px;
        min-width: 70%;
        height: 700px;
    }
}